<h2 id="title">Welcome to Ember</h2>

<button {{action 'add'}}>Add</button>

{{#each model as |item|}}
  <h1>{{item.name}} is dirty {{item.hasDirtyAttributes}}</h1>
  <button {{action 'save' item}}>Save</button>
  <button {{action 'rollback' item}}>Rollback</button>

  {{#each item.children as |child|}}
    <h2>{{child.name}} is dirty: {{child.hasDirtyAttributes}}</h2>
    <button {{action 'save' child}}>Save</button>
    <button {{action 'rollback' child}}>Rollback</button>

  {{/each}}
{{/each}}

{{outlet}}
